[submodule "gitea-helm-chart"]
	path = gitea-helm-chart
	url = https://github.com/jfelten/gitea-helm-chart.git
[submodule "codimd-chart"]
	path = codimd-chart
	url = https://github.com/HanseMerkur/codimd-chart
[submodule "gitlab"]
	path = gitlab
	url = https://gitlab.com/gitlab-org/charts/gitlab.git
